<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source={SQL Server};SERVER=QASWSS04;DATABASE=FTDNA; User ID=ftdnamigrationdev; pwd=md@ndtf0grv0up!#$; pooling=true;min pool size=1; max pool size=10000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
