<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dbup" version="3.3.5" targetFramework="net461" />
  <package id="FTDNA.Database.Scripter" version="1.0.0.18-unstable" targetFramework="net461" />
  <package id="Unofficial.Microsoft.SQLServer.SMO" version="11.0.3000.0" targetFramework="net461" />
</packages>